form{width: 600px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 20px;
}
btn{
    border-radius: 20px;
}
.tit{   color: #F24E1E;}
.cbtn{ color: #F24E1E;}
.a1{background-color: #F24E1E; color:white;
border: #F24E1E;}