<div class="container1">
    <form >
        <div class="row ">
            <div class="col-8 offset-1"><h3 class="tit"> Modify Lounge </h3></div>            
        </div>
        <div class="row mb-3">
            <div class="col-5 offset-1 ">
                <label for="input-id" class="form-label">Id_beach</label> 
                <input type="text" id="input-id" class="form-control"> 
                        
            </div>
            <div class="col-5">
                <label class="form-label" for="loungename">Lounge Name</label>
                <input type="text" class="form-control" id="loungename"  formcontroName="loungename"required> 
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-5 offset-1">
                <label class="form-label" for="city">City</label>
                <select class="form-select" id="city">
                    <option >Djerba</option>
                    <option>Hammamet</option>
                    <option>Tunis</option>
                </select>
            </div>
            <div class="col-5">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" formControlName="location" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-5 offset-1">
                <label class="form-label" for="description">Description</label>
                <input class="form-control" type="text" id="description" >
            </div>
            <div class="col-5">
                <label class="form-label" for="tel">Description</label>
                <input class="form-control" type="tel" id="tel" >

            </div>

        </div>
        <div class="row mb-3">
            <div class="col-5 offset-1"> 
                <label class="form-label" for="menu">Menu Photos </label>
                <input class="form-control" type="file" id="menu" >
            </div>
            <div class="col-5">
                <label class="form-label" for="photos">Lounge Photos</label>
                <input class="form-control" type="file" id="photos" formControlName="photos">
            </div>
        </div>  
        <div class="row mb-3 ">
            <div class="col-5 offset-1 ">
                <div class="d-grid">
                    <button class="btn btn-submit btn-block btn-lg" class="a1">Cancel</button>
                </div>      
            </div >
            <div class="col-5">
                <div class="d-grid">
                    <button class="btn btn-submit btn-block btn-lg" class="a1" > Modify</button>
                </div>
                    
            </div>  
        
            </div>
    </form>
</div>
